<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Den</title>
    {% load static %}
    {% block css %}
    {% endblock %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'core/'%}css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'core/'%}css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'core/'%}css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="{% static 'core/'%}img/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'core/'%}css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="{% static 'core/'%}css/owl.carousel.min.css">
    <link rel="stylesheet" href="{% static 'core/'%}css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <style>
        /* Estilos para el modo oscuro */
        :root {
            --bg-color-light: #ffffff;
            --text-color-light: #000000;
            --bg-color-dark: #111111;
            --text-color-dark: #ffffff;
        }

        body[data-theme="light"] {
            background-color: var(--bg-color-light);
            color: var(--text-color-light);
        }

        body[data-theme="dark"] {
            background-color: var(--bg-color-dark);
            color: var(--text-color-dark);
        }
    </style>
    <style>
        /* Estilos para el interruptor de cambio de tema */
        .theme-toggle {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        .theme-toggle-button {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;
        }

        .theme-toggle-button:hover {
            background-color: #ddd;
        }

        .theme-menu {
            display: none;
            position: absolute;
            top: 40px;
            left: -70px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 10px;
            z-index: 999;
        }

        .theme-menu.show {
            display: block;
        }

        .theme-menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .theme-menu li {
            padding: 5px 0;
        }
    </style>
</head>

<body>
    <header>
        <div class="layout_padding banner_section_start">
            <!-- header inner -->
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo"><a href="{% url 'home' %}"><img
                                                src="{% static 'core/'%}img/logo.png" style="max-width: 100%;"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                                            {% if user.is_authenticated %}
                                            <li><a href="{% url 'listado_productos' %}">Productos</a></li>
                                            <li><a href="{% url 'nuevo_producto' %}">Nuevo Producto</a></li>
                                            <li><a href="{% url 'cargar_productos' %}">Subir Excel</a></li>
                                            <li><a href="{% url 'soporte' %}">Contact Us</a></li>
                                            {% endif %}
                                            <li><a href="{% url 'login' %}">Login</a></li>
                                            {% if user.is_authenticated %}
                                            <li><a href="{% url 'ventas' %}">Ventas</a></li>
                                            <li><a href="{% url 'modificar' %}">Modificar</a></li>
                                            <li><a href="{% url 'escanear_codigo_barras' %}">Pan</a></li>
                                            <li><a href="{% url 'chat-room' %}">Chat</a></li>
                                            <li><a href="{% url 'crear' %}">Crear Codigo de barras</a></li>
                                            <li><a href="{% url 'create_ticket' %}">Ver Tickets</a></li>
                                            <li><a href="{% url 'index' %}">Prueba</a></li>
                                            {% endif %}
                                            {% if user.is_authenticated %}
                                            <li>
                                                <a href="#">{{ user.username}}</a>
                                            </li>
                                            <li><a href="{% url 'logout' %}">Cerrar sesion</a></li>
                                            {% endif %}
                                            <div class="theme-toggle">
                                                <div class="theme-toggle-button" onclick="toggleThemeMenu()">&#9776;
                                                </div>
                                                <div class="theme-menu" id="themeMenu">
                                                    <ul>
                                                        <li><a href="javascript:void(0)" onclick="toggleTheme('light')">Tema Claro</a></li>
                                                        <li><a href="javascript:void(0)" onclick="toggleTheme('dark')">Tema Oscuro</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="principal">
                <br>
                {% block contenido %}
                {% endblock %}
            </div>


            <!-- Javascript files-->
            <script src="js/jquery.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.bundle.min.js"></script>
            <script src="js/jquery-3.0.0.min.js"></script>
            <script src="js/plugin.js"></script>
            <!-- sidebar -->
            <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
            <script src="js/custom.js"></script>
            <!-- javascript -->
            <script src="js/owl.carousel.js"></script>
            <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
            <script>
                $(document).ready(function () {
                    $(".fancybox").fancybox({
                        openEffect: "none",
                        closeEffect: "none"
                    });

                    $(".zoom").hover(function () {

                        $(this).addClass('transition');
                    }, function () {

                        $(this).removeClass('transition');
                    });
                });
            </script>

            <script>
                // This example adds a marker to indicate the position of Bondi Beach in Sydney,
                // Australia.
                function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 11,
                        center: { lat: 40.645037, lng: -73.880224 },
                    });

                    var image = 'img/location_point.png';
                    var beachMarker = new google.maps.Marker({
                        position: { lat: 40.645037, lng: -73.880224 },
                        map: map,
                        icon: image
                    });
                }
            </script>
            <!-- google map js -->
            <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
            <!-- end google map js -->

            <script>
                // Función para cambiar entre temas claro y oscuro
                function toggleTheme(theme) {
                    document.documentElement.setAttribute('data-theme', theme);
                }

                // Función para mostrar/ocultar el menú de cambio de tema
                function toggleThemeMenu() {
                    const themeMenu = document.getElementById('themeMenu');
                    themeMenu.classList.toggle('show');
                }

                // Cerrar el menú cuando se haga clic fuera de él
                window.addEventListener('click', function (event) {
                    const themeMenu = document.getElementById('themeMenu');
                    if (!event.target.matches('.theme-toggle-button')) {
                        if (themeMenu.classList.contains('show')) {
                            themeMenu.classList.remove('show');
                        }
                    }

                }


                );

                // Cambiar el tema al hacer clic en un elemento del menú
                document.querySelectorAll('.theme-menu a').forEach(function (link) {
                    link.onclick = function () {
                        const theme = link.getAttribute('data-theme');
                        toggleTheme(theme);
                    };
                });
            </script>

            </script>

</body>

</html>