{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<!-- end header inner -->
<!-- banner start-->
<div class="layout_padding banner_section">
	<div class="container">
		<div id="main_slider" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row ">
						<div class="col-md-6 taital">
							<h1 class="taital">Quality<strong class="banner_taital">Products with breads
									sweet Den</strong></h1>
							<p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
							</p>
						</div>
						<div class="col-md-6">
							<div class="banner-image"><img src="{% static 'core/'%}img/banner-image.png"
									style="max-width: 100%;"></div>
						</div>
						<div class="banner_bt">
							<button class="bt_main"><a href="#">Read More</a></button>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row ">
						<div class="col-md-6 taital">
							<h1>Quality<strong class="banner_taital">Products with breads sweet Den</strong>
							</h1>
							<p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
							</p>
						</div>
						<div class="col-md-6">
							<div class="banner-image"><img src="{% static 'core/'%}img/banner-image.png"
									style="max-width: 100%;"></div>
						</div>
						<div class="banner_bt">
							<button class="bt_main"><a href="#">Read More</a></button>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row ">
						<div class="col-md-6 taital">
							<h1>Quality<strong class="banner_taital">Products with breads sweet Den</strong>
							</h1>
							<p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
							</p>
						</div>
						<div class="col-md-6">
							<div class="banner-image"><img src="{% static 'core/'%}img/banner-image.png"
									style="max-width: 100%;"></div>
						</div>
						<div class="banner_bt">
							<button class="bt_main"><a href="#">Read More</a></button>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa fa-angle-left"></i></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"><i class="fa fa-angle-right"></i></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

	</div>
</div>
</div>
</header>
<!-- banner end-->
<!-- about start-->
<div id="about" class="layout_padding about_section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div><img src="{% static 'core/'%}img/cupcake-img.png" style="max-width: 100%;"></div>
			</div>
			<div class="col-md-6">
				<h1 class="about_text"><strong>About Den <span class="color">Shop</span></strong></h1>
				<p class="about_taital">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
					dolore magna aliqua. Ut enim ad minim ve niam, quis nostrud exercitationconsectetur adipiscing
					elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
					veniam, quis nostrud exercitation</p>
				<button class="read_more"><a href="#">Read More</a></button>
			</div>
		</div>
	</div>
</div>
<!-- product start-->
<div id="products" class="layout_padding product_section ">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="product_text"><strong><span class="den">Den</span>Products</strong></h1>
			</div>
		</div>
		<div class="product_section_2 img">
			<div class="row">
				<div class="col-sm-4">
					<div class="img"><img src="{% static 'core/'%}img/about-img1.png"
							style="max-width: 100%; width: 100%;"></div>
					<h2 class="den_text croissants"><a href="#">Croissants Breakfast</a></h2>
				</div>
				<div class="col-sm-4">
					<div class="img"><img src="{% static 'core/'%}img/about-img2.png"
							style="max-width: 100%; width: 100%;"></div>
					<h2 class="den_text"><a href="#">Roll Cake</a></h2>
				</div>
				<div class="col-sm-4">
					<div class="img"><img src="{% static 'core/'%}img/about-img3.png"
							style="max-width: 100%; width: 100%;"></div>
					<h2 class="den_text"><a href="#">BreadFrench Toast</a></h2>
				</div>



				<div class="col-sm-4">
					<div class="img"><img src="{% static 'core/'%}img/about-img4.png"
							style="max-width: 100%; width: 100%;"></div>
					<h2 class="den_text"><a href="#">Cup Cake</a></h2>
				</div>
				<div class="col-sm-4">
					<div class="img"><img src="{% static 'core/'%}img/about-img5.png"
							style="max-width: 100%; width: 100%;"></div>
					<h2 class="den_text"><a href="#">Donut</a></h2>
				</div>
				<div class="col-sm-4">
					<div class="img"><img src="{% static 'core/'%}img/about-img6.png"
							style="max-width: 100%; width: 100%;"></div>
					<h2 class="den_text"><a href="#">Chocolate Cup Cake</a></h2>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- product end-->
<!-- Gallery start-->
<div id="gallery" class="layout_padding2 gallery_section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="gallery_main">
					<h1 class="gallery_taital"><strong><span class="our_text">Our</span> Gallery</strong></h1>
				</div>
			</div>
			<div class="col-sm-12 gallery_maain">
				<div class="row">
					<div class="col-sm-3 padding_0">
						<div class="gallery_blog">
							<img class="img-responive" src="{% static 'core/'%}img/gallery-img1.png">
							<div class="overlay">
								<h2>Breakfast Breads</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3 padding_0">
						<div class="gallery_blog">
							<img class="img-responive" src="{% static 'core/'%}img/gallery-img2.png">
							<div class="overlay">
								<h2>Breakfast Breads</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3 padding_0">
						<div class="gallery_blog">
							<img class="img-responive" src="{% static 'core/'%}img/gallery-img3.png">
							<div class="overlay">
								<h2>Breakfast Breads</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3 padding_0">
						<div class="gallery_blog">
							<img class="img-responive" src="{% static 'core/'%}img/gallery-img4.png">
							<div class="overlay">
								<h2>Breakfast Breads</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end Gallery-->
<!-- Touch start-->
<div class="layout_padding gallery_section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="gallery_main">
					<h1 class="gallery_taital"><strong><span class="our_text">Get in</span>Touch</strong></h1>
				</div>
			</div>
		</div>
		<div class="touch_main">
			<div class="row">
				<div class="col-md-6">
					<div class="input_main">
						<div class="container">
							<form action="/action_page.php">
								<div class="form-group">
									<input type="text" class="email-bt" placeholder="YOUR NAME" name="Name">
								</div>
								<div class="form-group">
									<input type="text" class="email-bt" placeholder="EMAIL" name="Email">
								</div>
								<div class="form-group">
									<input type="text" class="email-bt" placeholder="PHONE NUMBER" name="Email">
								</div>
								<div class="form-group">
									<textarea class="massage-bt" placeholder="MASSAGE" rows="5" id="comment"
										name="text"></textarea>
								</div>
							</form>
						</div>
					</div>
					<div class="send_btn">
						<button type="button" class="main_bt"><a href="#">SEND</a></button>
					</div>
				</div>
				<div class="col-md-6">
					<div class="img">
						<img src="{% static 'core/'%}img/bread-img.png" style="max-width: 100%;">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="map_section">
	<div class="row">
		<div class="col-sm-12">

			<div id="map">
			</div>
		</div>

	</div>
</div>
<!-- Touch end-->
<!-- contact start-->
<div id="contact" class="contact_section">
	<div class="container">
		<div class="contact-taital">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="contact_text"><strong>Contact Us</strong></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-3">
				<h2 class="adderess_text">Adderess</h2>
				<div class="image-icon"><img src="{% static 'core/'%}img/map-icon.png"><span class="email_text">Gb road
						123 london Uk </span></div>
				<div class="image-icon"><img src="{% static 'core/'%}img/phone-icon.png"><span class="email_text">(+71)
						56982424536</span></div>
				<div class="image-icon"><img src="{% static 'core/'%}img/email-icon.png"><span
						class="email_text">bacerim@gmail.com</span></div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-3">
				<h2 class="adderess_text">Useful Links</h2>
				<div class="image-icon"><img src="{% static 'core/'%}img/bulit-icon.png"><span
						class="email_text">Bacerim Dictionary</span></div>
				<div class="image-icon"><img src="{% static 'core/'%}img/bulit-icon.png"><span class="email_text">Help
						Links</span></div>
				<div class="image-icon"><img src="{% static 'core/'%}img/bulit-icon.png"><span
						class="email_text">bacerim Attitudes</span></div>
				<div class="image-icon"><img src="{% static 'core/'%}img/bulit-icon.png"><span class="email_text">Call a
						Cutumer</span></div>
				<div class="image-icon"><img src="{% static 'core/'%}img/bulit-icon.png"><span class="email_text">Help a
						Bacerim</span></div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-3">
				<h2 class="adderess_text">Overview</h2>
				<div class="image-icon"><img src="{% static 'core/'%}img/bulit-icon.png"><span
						class="email_text">Bacerim Dictionary</span></div>
				<div class="image-icon"><img src="{% static 'core/'%}img/bulit-icon.png"><span class="email_text">Help
						Links</span></div>
				<div class="image-icon"><img src="{% static 'core/'%}img/bulit-icon.png"><span
						class="email_text">bacerim Attitudes</span></div>
				<div class="social_icon">
					<ul>
						<li><a href="#"><img src="{% static 'core/'%}img/fb-icon.png"></a></li>
						<li><a href="#"><img src="{% static 'core/'%}img/twitter-icon.png"></a></li>
						<li><a href="#"><img src="{% static 'core/'%}img/google-icon.png"></a></li>
						<li><a href="#"><img src="{% static 'core/'%}img/linkedin-icon.png"></a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-3">
				<h2 class="adderess_text">Instagram</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="footer-img"><img src="{% static 'core/'%}img/footer-img1.png" style="width: 100%;">
						</div>
					</div>
					<div class="col-md-6">
						<div class="footer-img"><img src="{% static 'core/'%}img/footer-img2.png" style="width: 100%;">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="footer-img"><img src="{% static 'core/'%}img/footer-img2.png" style="width: 100%;">
						</div>
					</div>
					<div class="col-md-6">
						<div class="footer-img"><img src="{% static 'core/'%}img/footer-img3.png" style="width: 100%;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- contact end-->
<!-- copyright start-->



<!-- copyright end-->


{% endblock %}