{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<style>
    /* Estilos para el contenedor principal */
    .productos-container {
        display: grid;
        grid-template-columns: 300px 1fr; /* Columnas para filtros y productos */
        grid-gap: 20px;
    }

    /* Estilos para el contenedor de los filtros */
    .filtros-container {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Estilos para el contenedor de los productos */
    .productos-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
        justify-items: center;
    }

    /* Estilos para cada producto */
    .producto {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Estilos para la imagen del producto */
    .producto img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    /* Estilos para el formulario de filtros */
    .filtro-form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .filtro-form label {
        margin-right: 10px;
    }

    .filtro-form input[type="number"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .filtro-form button {
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }

    .filtro-form button[type="submit"] {
        background-color: #007bff;
    }

    /* Estilos para los botones de agregar al carrito */
    .producto button {
        margin-top: 10px;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        width: 100%;
    }

    .producto button {
        background-color: #007bff;
    }
</style>
<h2>Productos</h2>
<div class="productos-container">
    <div class="filtros-container">
        <div class="filtro-form">
            <form method="get" action="{% url 'listado_productos' %}">
                <label for="precio_min">Precio mínimo:</label>
                <input type="number" name="precio_min" id="precio_min">
                <label for="precio_max">Precio máximo:</label>
                <input type="number" name="precio_max" id="precio_max">
                <p>Categorías:</p>
                {% for categoria in categorias %}
                <input type="checkbox" name="categoria" value="{{ categoria.id }}" id="categoria_{{ categoria.id }}">
                <label for="categoria_{{ categoria.id }}">{{ categoria.nombre }}</label>
                {% endfor %}
                <button type="submit">Filtrar</button>
            </form>
        </div>
    </div>

    <div class="productos-list">
        {% for p in productos %}
        <div class="producto">
            <img src="{{ p.imagen.url }}" alt="{{ p.nombre }}">
            <h3>{{ p.nombre }}</h3>
            <p><strong>${{ p.precio }}</strong></p>
            <form method="post" action="{% url 'agregar_al_carrito' p.id %}">
                {% csrf_token %}
                <button type="submit">Agregar al carrito</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
