<!DOCTYPE html>
<html>
<head>
<title>MachPay Payment Example</title>
</head>
<body>

<h1>MachPay Payment Example</h1>

<form action="https://www.machpay.com/checkout" method="post">


<input type="hidden" name="secret_key" value="ba69f8d3-02c3-41d7-b054-f66cbaf5b062">

<input type="text" name="amount" placeholder="Amount">
<input type="text" name="currency" placeholder="Currency">
<input type="text" name="description" placeholder="Description">

<input type="submit" value="Pay">

</form>

</body>
</html>
