{% extends 'core/base.html' %}

{% block contenido %}



<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="reset" value="Limpiar">
    <input type="submit" value="Modificar">
</form>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<style>
  /* Estilos para el formulario */
  form {
      max-width: 500px;
      margin: 0 auto; /* Centrar horizontalmente */
      padding: 20px;
      border: 1px solid #ccc; /* Borde que identifica el inicio y fin del formulario */
      border-radius: 10px; /* Bordes redondeados */
  }

  /* Estilos para cada campo del formulario */
  form table tr td {
      padding: 5px;
      border-radius: 10px; /* Bordes redondeados */
  }

  /* Estilos para los botones */
  input[type="reset"],
  input[type="submit"] {
      margin-top: 10px;
      padding: 8px 15px;
      border: none;
      border-radius: 5px; /* Bordes redondeados */
      background-color: #007bff; /* Color de fondo para los botones */
      color: #fff; /* Color del texto de los botones */
      cursor: pointer;
  }

  input[type="reset"] {
      background-color: #ccc; /* Cambia el color de fondo para el botón "Limpiar" */
  }

  /* Estilos para la barra de navegación en pantallas pequeñas */
  .navbar-toggle {
      display: none;
  }

  @media (max-width: 768px) {
      .navbar-toggle {
          display: block;
      }
  }
</style>

{% endblock %}
